node-red/lib/flows/light.chambre.json
[{"id":"e360a698.826e18","type":"tab","label":"chambre","disabled":false,"info":""},{"id":"ee88c793.ad3288","type":"server-state-changed","z":"e360a698.826e18","name":"sensor bed","server":"1ba013d0.45ceac","version":1,"entityidfilter":"binary_sensor.presence_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":175,"y":220,"wires":[["8e647ecf.5df4b"]],"l":false},{"id":"8e647ecf.5df4b","type":"switch","z":"e360a698.826e18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":235,"y":240,"wires":[["d6b6d5ee.95a8d8"],[]],"l":false},{"id":"d6b6d5ee.95a8d8","type":"api-current-state","z":"e360a698.826e18","name":"","server":"1ba013d0.45ceac","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.lightlevel_4","state_type":"str","state_location":"lightlvl","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":335,"y":180,"wires":[["9f72e5cf.0709c8"]],"icon":"node-red-contrib-sunevents/white_golden_sun.png","l":false},{"id":"8611368a.754b58","type":"debug","z":"e360a698.826e18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":340,"wires":[]},{"id":"9f72e5cf.0709c8","type":"api-current-state","z":"e360a698.826e18","name":"ruban","server":"1ba013d0.45ceac","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.ruban","state_type":"habool","state_location":"ruban","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":415,"y":220,"wires":[["8665bae2.31e8d8"]],"icon":"node-red/light.svg","l":false},{"id":"62fe0cf7.9fe434","type":"function","z":"e360a698.826e18","name":"","func":"var seuilLimiere = 30; \n\n//below_horizon == nuit\n//above_horizon == jour\n\nif (\n    (msg.ruban === false) && \n    (msg.lightlvl < seuilLimiere) && \n    (msg.sun != \"below_horizon\") \n    )\n{\n    msg.action = 'light';\n}\n//msg.action = 'light';\nreturn msg;","outputs":1,"noerr":0,"x":575,"y":240,"wires":[["3a10af09.974ea","8611368a.754b58"]],"l":false},{"id":"8665bae2.31e8d8","type":"api-current-state","z":"e360a698.826e18","name":"sun","server":"1ba013d0.45ceac","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"sun","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":475,"y":180,"wires":[["62fe0cf7.9fe434"]],"icon":"node-red-node-suncalc/sun.png","l":false,"info":"doit etre : above_horizon"},{"id":"3a10af09.974ea","type":"switch","z":"e360a698.826e18","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"light","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":635,"y":240,"wires":[["8611368a.754b58","e05ae32e.91de2"]],"l":false},{"id":"a075e788.34f7b8","type":"api-call-service","z":"e360a698.826e18","name":"","server":"1ba013d0.45ceac","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ruban, light.hue_go_2","data":"{\"brightness\":148,\"rgb_color\":[255,112,112]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":340,"wires":[["62ef190.4fb7ee8"]]},{"id":"62ef190.4fb7ee8","type":"delay","z":"e360a698.826e18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":460,"y":540,"wires":[["7987a2a3.75fafc","d052a655.31ace8"]]},{"id":"7987a2a3.75fafc","type":"debug","z":"e360a698.826e18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":520,"wires":[]},{"id":"d052a655.31ace8","type":"api-call-service","z":"e360a698.826e18","name":"","server":"1ba013d0.45ceac","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ruban","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":600,"wires":[[]]},{"id":"e4f7b0f4.a0db7","type":"inject","z":"e360a698.826e18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":40,"wires":[["e05ae32e.91de2"]]},{"id":"a54d58da.49b798","type":"api-current-state","z":"e360a698.826e18","name":"","server":"1ba013d0.45ceac","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.may","state_type":"habool","state_location":"may","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":795,"y":180,"wires":[["a075e788.34f7b8"]],"l":false},{"id":"e05ae32e.91de2","type":"api-current-state","z":"e360a698.826e18","name":"","server":"1ba013d0.45ceac","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.laul","state_type":"habool","state_location":"laul","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":715,"y":180,"wires":[["a075e788.34f7b8","a54d58da.49b798"]],"icon":"font-awesome/fa-address-book-o","l":false},{"id":"1ba013d0.45ceac","type":"server","z":"","name":"Home Assistant"}]