node-red/lib/flows/notify-porte.json
[{"id":"847c9b9c.356828","type":"tab","label":"notify porte ","disabled":false,"info":"premier node OK"},{"id":"fb2ef209.57059","type":"server-state-changed","z":"847c9b9c.356828","name":"","server":"1ba013d0.45ceac","version":1,"entityidfilter":"binary_sensor.openclose_6","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":60,"wires":[["54aabda2.963164"]]},{"id":"54aabda2.963164","type":"switch","z":"847c9b9c.356828","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":60,"wires":[["4c897057.4234"],["8d4a9dd2.dec98"]]},{"id":"4c897057.4234","type":"api-get-history","z":"847c9b9c.356828","name":"","server":"1ba013d0.45ceac","startdate":"","enddate":"","entityid":"binary_sensor.openclose_5","entityidtype":"is","useRelativeTime":true,"relativeTime":"5s","flatten":true,"output_type":"array","output_location_type":"msg","output_location":"payload","x":670,"y":60,"wires":[["3e0a251e.93bdca"]]},{"id":"9ec2f774.d76b48","type":"api-call-service","z":"847c9b9c.356828","name":"","server":"1ba013d0.45ceac","version":1,"debugenabled":false,"service_domain":"notify","service":"notify","entityId":"","data":"{\"data\":{\"badge\":5,\"push\":null},\"message\":\"{{payload}}\",\"title\":\"Node Red System Alert\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":160,"wires":[[]]},{"id":"3e0a251e.93bdca","type":"function","z":"847c9b9c.356828","name":"","func":"var plup = msg.payload.length;\n\nlet lastAction = msg.payload[plup - 1].last_changed;\n\nfunction formatDate(date) {\n    var monthNames = [\n        \"January\", \"February\", \"March\",\n        \"April\", \"May\", \"June\", \"July\",\n        \"August\", \"September\", \"October\",\n        \"November\", \"December\"\n    ];\n\n    var day = date.getDate();\n    var monthIndex = date.getMonth();\n    var year = date.getFullYear();\n\n    var heure = date.getHours();\n    var minute = date.getMinutes();\n    var seconde = date.getSeconds();\n\n    return day + ' ' + monthNames[monthIndex] + ' ' + year + \" @ \" + heure + \":\" + minute + \":\" + seconde;\n}\n\nlet lastActionDate = new Date(lastAction);\n\n\ncontext.global.openTime = function(){\n    return formatDate(lastActionDate);\n};\n\n//debug\nmsg.test = formatDate(lastActionDate);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":60,"wires":[[]]},{"id":"8d4a9dd2.dec98","type":"function","z":"847c9b9c.356828","name":"","func":"var message_fr = \"La porte vient d être fermer après son ouverture le \"; \n\nmsg.payload = message_fr + context.global.openTime();\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":160,"wires":[["9ec2f774.d76b48"]]},{"id":"1ba013d0.45ceac","type":"server","z":"","name":"Home Assistant"}]