node-red/lib/flows/notify-porte-02.json
[{"id":"414aedc.30d1714","type":"tab","label":"notify porte 02","disabled":false,"info":"premier node OK"},{"id":"3b89ab6a.1799b4","type":"server-state-changed","z":"414aedc.30d1714","name":"","server":"1ba013d0.45ceac","version":1,"entityidfilter":"binary_sensor.openclose_6","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":35,"y":620,"wires":[["f3604c54.5e892"]],"l":false},{"id":"3e86ef0e.eec9e","type":"debug","z":"414aedc.30d1714","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":740,"wires":[]},{"id":"f888725f.37f87","type":"function","z":"414aedc.30d1714","name":"","func":"let old_state = msg.data.old_state.last_changed;\nlet new_state = msg.data.new_state.last_changed;\n\n\nvar diff = Math.abs(new Date(old_state) - new Date(new_state));\n\nvar timeOpen = context.global.millisToMinutesAndSeconds(diff)\n\n\nvar message_fr = \"La porte vient d être fermer après : \"; \n\nmsg.payload = message_fr + timeOpen + \" min\";\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":680,"wires":[["3e86ef0e.eec9e","fb3935b9.9025e8"]]},{"id":"f3604c54.5e892","type":"switch","z":"414aedc.30d1714","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":620,"wires":[["6215d72b.6a8bc8"],["f888725f.37f87"]]},{"id":"6215d72b.6a8bc8","type":"function","z":"414aedc.30d1714","name":"","func":"let old_state = msg.data.old_state.last_changed;\nlet new_state = msg.data.new_state.last_changed;\n\n//const seconds = parseInt(Math.abs(new_state.getTime() - old_state.getTime()) / (1000) % 60); \n\n\nvar diff = Math.abs(new Date(old_state) - new Date(new_state));\n\n//var diffMs = (new_state - old_state);\n//var diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000); // minutes\n\n\n\n\nmsg.payload = context.global.millisToMinutesAndSeconds(diff);\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":540,"wires":[["95637cdb.c9e0f"]]},{"id":"9f7eecf2.7ceb1","type":"comment","z":"414aedc.30d1714","d":true,"name":"si porte ouverture","info":"","x":300,"y":500,"wires":[]},{"id":"a3b957dc.4ff5a8","type":"comment","z":"414aedc.30d1714","d":true,"name":"si porte fermé","info":"","x":270,"y":720,"wires":[]},{"id":"f2f86477.26ae88","type":"function","z":"414aedc.30d1714","name":"functions","func":"context.global.millisToMinutesAndSeconds = function(millis){\n  var minutes = Math.floor(millis / 60000);\n  var seconds = ((millis % 60000) / 1000).toFixed(0);\n  return minutes  +  \":\" +\n  (seconds < 10 ? '0' : '') + seconds;\n    \n};\n\n","outputs":1,"noerr":0,"x":35,"y":680,"wires":[["f888725f.37f87"]],"icon":"node-red/hash.svg","l":false},{"id":"e3ef011.0f169","type":"debug","z":"414aedc.30d1714","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":380,"wires":[]},{"id":"fb3935b9.9025e8","type":"api-call-service","z":"414aedc.30d1714","name":"","server":"1ba013d0.45ceac","version":1,"debugenabled":false,"service_domain":"notify","service":"notify","entityId":"","data":"{\"data\":{\"badge\":5,\"push\":null},\"message\":\"{{payload}}\",\"title\":\"Main Door\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":680,"wires":[[]]},{"id":"95637cdb.c9e0f","type":"trigger","z":"414aedc.30d1714","op1":"0","op2":"1","op1type":"str","op2type":"num","duration":"2","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":530,"y":440,"wires":[["63591106.98169"]]},{"id":"89997804.f3e8a8","type":"api-current-state","z":"414aedc.30d1714","name":"","server":"1ba013d0.45ceac","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.openclose_6","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":735,"y":380,"wires":[["e3ef011.0f169","e319912a.7f76f"],[]],"icon":"font-awesome/fa-long-arrow-down","l":false},{"id":"63591106.98169","type":"switch","z":"414aedc.30d1714","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":655,"y":440,"wires":[["89997804.f3e8a8"],[]],"l":false},{"id":"93a773ba.8b265","type":"comment","z":"414aedc.30d1714","d":true,"name":"si la porte est ouvert plus de 2min","info":"","x":610,"y":340,"wires":[]},{"id":"e319912a.7f76f","type":"api-call-service","z":"414aedc.30d1714","name":"","server":"1ba013d0.45ceac","version":1,"debugenabled":false,"service_domain":"notify","service":"notify","entityId":"","data":"{\"data\":{\"badge\":5,\"push\":null},\"message\":\"La porte est resté ouverte !\",\"title\":\"Main Door\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":460,"wires":[[]]},{"id":"1ba013d0.45ceac","type":"server","z":"","name":"Home Assistant"}]