node-red/lib/flows/notify-plants.json
[{"id":"98397218.5110c","type":"tab","label":"plant notif","disabled":false,"info":""},{"id":"21520811.ec5ff8","type":"server-state-changed","z":"98397218.5110c","name":"","server":"1ba013d0.45ceac","version":1,"entityidfilter":"plant.xiaomi_miflora_01","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":306,"y":296,"wires":[["afdc3c35.91ffb"]]},{"id":"cab940b4.42b52","type":"debug","z":"98397218.5110c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":826,"y":256,"wires":[]},{"id":"e9823cb.d7a52c","type":"inject","z":"98397218.5110c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":136,"y":556,"wires":[["2d6268c1.e30aa8"]]},{"id":"2d6268c1.e30aa8","type":"api-current-state","z":"98397218.5110c","name":"","server":"1ba013d0.45ceac","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"plant.xiaomi_miflora_01","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":326,"y":436,"wires":[["afdc3c35.91ffb"]]},{"id":"afdc3c35.91ffb","type":"switch","z":"98397218.5110c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"problem","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":566,"y":416,"wires":[["2f5be95c.9c9dc6"]]},{"id":"2f5be95c.9c9dc6","type":"function","z":"98397218.5110c","name":"","func":"//var moisture = msg.data.attributes.moisture\n\nmsg.moisture  = msg.data.attributes.moisture;\nreturn msg;","outputs":1,"noerr":0,"x":686,"y":456,"wires":[["c4863088.3ec52"]]},{"id":"c4863088.3ec52","type":"switch","z":"98397218.5110c","name":"","property":"moisture","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"num"},{"t":"gte","v":"20","vt":"str"},{"t":"gte","v":"80","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":786,"y":376,"wires":[["cab940b4.42b52","d85c7067.2b5c6"],[],[]]},{"id":"d85c7067.2b5c6","type":"api-call-service","z":"98397218.5110c","name":"","server":"1ba013d0.45ceac","version":1,"debugenabled":false,"service_domain":"notify","service":"notify","entityId":"","data":"{\"data\":{\"badge\":5,\"push\":null},\"message\":\"need water\",\"title\":\"Groot Probem\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":996,"y":356,"wires":[[]]},{"id":"1ba013d0.45ceac","type":"server","z":"","name":"Home Assistant"}]