node-red/lib/flows/porte whatsaPP.json
[{"id":"847c9b9c.356828","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1ba013d0.45ceac","type":"server","z":"","name":"Home Assistant"},{"id":"38b37134.0ae92e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fb2ef209.57059","type":"server-state-changed","z":"847c9b9c.356828","name":"","server":"1ba013d0.45ceac","version":1,"entityidfilter":"binary_sensor.openclose_6","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":220,"y":120,"wires":[["54aabda2.963164"]]},{"id":"54aabda2.963164","type":"switch","z":"847c9b9c.356828","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":280,"wires":[["4c897057.4234"],["b2bfb15f.7445a","f3edbd5a.043cf"]]},{"id":"ae26fe0c.87adb","type":"debug","z":"847c9b9c.356828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":80,"wires":[]},{"id":"b2bfb15f.7445a","type":"debug","z":"847c9b9c.356828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":520,"wires":[]},{"id":"f3edbd5a.043cf","type":"api-call-service","z":"847c9b9c.356828","name":"","server":"1ba013d0.45ceac","version":1,"debugenabled":true,"service_domain":"notify","service":"whatsapp","entityId":"","data":"{\"message\":\"la porte est fermée\",\"target\":\"+33641661575\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":580,"wires":[[]]},{"id":"4c897057.4234","type":"api-get-history","z":"847c9b9c.356828","name":"","server":"1ba013d0.45ceac","startdate":"","enddate":"","entityid":"binary_sensor.openclose_5","entityidtype":"is","useRelativeTime":true,"relativeTime":"5s","flatten":true,"output_type":"array","output_location_type":"msg","output_location":"payload","x":590,"y":200,"wires":[["b1d936dc.274ad8","41c7e1fc.56bab"]]},{"id":"ecb0d38b.7c3b8","type":"split","z":"847c9b9c.356828","name":"","splt":"1","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"lkdljss","x":650,"y":60,"wires":[[]]},{"id":"b1d936dc.274ad8","type":"debug","z":"847c9b9c.356828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":220,"wires":[]},{"id":"41c7e1fc.56bab","type":"function","z":"847c9b9c.356828","name":"","func":"var l = msg.payload[0]\nreturn l;","outputs":1,"noerr":0,"x":830,"y":60,"wires":[["ae26fe0c.87adb"]]}]