node-red/lib/flows/test-global var.json
[{"id":"1264ff30.f164b1","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"25ea4e11.db5db2","type":"inject","z":"1264ff30.f164b1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["30fdf511.e218ea"]]},{"id":"30fdf511.e218ea","type":"function","z":"1264ff30.f164b1","name":"","func":"context.global.hello = function(){\n    return \"hello there \"\n};\nmsg.payload = context.global.hello();\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["8bf43e51.3020d","c8a9c526.e6d1c8"]]},{"id":"c8a9c526.e6d1c8","type":"function","z":"1264ff30.f164b1","name":"","func":"\nmsg.payload = context.global.hello() + \"world\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":340,"wires":[["3a85d4f4.75963c"]]},{"id":"8bf43e51.3020d","type":"debug","z":"1264ff30.f164b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":240,"wires":[]},{"id":"3a85d4f4.75963c","type":"debug","z":"1264ff30.f164b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":400,"wires":[]}]